@CHARSET "ISO-8859-1";

.jumbotron{
	background-image: url("../images/head_back.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    height:510px;
}
.jumbotron h2{
	font-size:60px;
	font-weight: 900;
}
.registrationContainer{
	
}
.registrationContainer h2{
	color:#F13751;
}
.loginContainer h2{
	color:#03532E;
}
.fieldDesign{
	width:300px;
	border: 1px solid #6e6967 ;
}

.front{
	color:#F13751;
}
.back{
	color:#03532E;
}
.navbar {
      margin-bottom: 0;
      background-color: white;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: black !important;
      font-weight: bold;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .sellStopbtn{
  		height:40px;
  		width:100px;
  		background-color:white;
  		border:2px solid black;	
  }
    .sellStopbtn:hover{
  		height:40px;
  		width:100px;
  		background-color:black;
  		border:2px solid black;	
  		color: white !important;
  }
  .emptyArea1{
  	 height:500px;
  	 background-image: url("../images/body_1.jpg");
  	 background-attachment: fixed;
  	  background-size: 100% 100%;
  }
  .panel-footer{
  	background-color: white;
  	font-size:18px;
  }
  
  .addToCartbtn{
  		height:35px;
  		width:100px;
  		background-color:white;
  		border:2px solid black;	
  		font-size:12px;
  }
    .addToCartbtn:hover{
  		height:35px;
  		width:100px;
  		background-color:#03532E;
  		border:2px solid #03532E;	
  		color: white !important;
  		font-size:12px;
  }